* {
  background-color: black;
  color: #cccccc;
}

.btn {
  background-color: #04aa6ddd;
  color: #ffffff;
  border-color: #04aa6d;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 6px;
  border: 1px solid #ffffff7f;
  outline: none;
  border-radius: 8px;
  width: 100px;
  text-align: center;
}

.btn:link,
.btn:visited,
.btn:active,
.btn:hover {
  text-decoration: none;
}
.btn + .btn {
  margin-left: calc(70% - 200px);
}

body {
  margin-bottom: 120px;
}

.btn-group {
  position: fixed;
  bottom: 0;
  right:0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  background: none;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  color: #04aa6d;
}
